.main-container {
    display: grid;
    /* not convince this grid template is right at all */
    grid-template-areas: 
    'header header'
    'main main';
    gap: 10px;
    background-color: white;

    justify-content: space-between;
    align-items: top;
    margin: 20px;
    padding: 20px;
}

img {
    height: 150px;
    width: 250px;
}